.body {
margin-left: auto;
margin-right: auto;
width: 50%;
}

#game {
    margin-top: 50px;
    width: 450px;
    height: 450px;
    background: white;
}

.block {
    width: 50px;
    height: 50px;
    float: left;
    border: 1px solid grey;
    box-sizing: border-box;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
}

.rabbit {
    margin: 0 auto;
    width: 40px;
    height: 40px;
    line-height: 50px;
}

.wolf {
    margin: 0 auto;
    width: 40px;
    height: 40px;
    line-height: 50px;
}

.home {
    margin: 0 auto;
    width: 40px;
    height: 40px;
    line-height: 50px;
}

.fence {
    margin: 0 auto;
    width: 40px;
    height: 40px;
    line-height: 50px;
}

.win {
    text-align: center;
    color: blue;
}

.lose {
    text-align: center;
    color: red;
}

